{{- $title := .Get "title" | default "" -}}
{{- $link := .Get "link" | default "" -}}
{{- $image := .Get "image" | default "" -}}
{{- $alt := .Get "alt" | default "" -}}

<link rel="stylesheet" href="/css/project.css">

<div class="project-container">
  {{- if $title }}
  <h2>
    {{- if $link -}}
    <a href="{{ $link }}">{{ $title }}</a>
    {{- else -}}
    {{ $title }}
    {{- end -}}
  </h2>
  {{- end -}}

  {{- if $image }}
  {{- if $link -}}
  <a href="{{ $link }}">
    {{- end -}}
    <img src="{{ $image }}" alt="{{ $alt }}" class="project-image">
    {{- if $link -}}
  </a>
  {{- end -}}
  {{- end }}

  <div class="project-description">
    {{- .Inner | markdownify -}}
  </div>

  <div class="project-clear"></div>
</div>